/* Colors */
:root {
  --darkGunmetal: #122932;
  --blackCoral: #576066;
  --queenBlue: #386fa4;
  --middleBlue: #80ced7;
  --mintCream: #f7fff7;
  --platinum: #e0e2e3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--platinum);
}

main {
  height: 100%;
  margin-bottom: 25px;
}

/* Navigation */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding: 0 5px 0 5px;
  background-color: var(--darkGunmetal);
}

.navigation_list {
  list-style-type: none;
}

.nav_logo {
  float: left;
}

.nav_li {
  float: right;
  font-size: 1em;
}

li a {
  display: block;
  padding: 8px;
  color: var(--mintCream);
  text-decoration: none;
}

/* Banner */
.hero {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 40vh;
  background-image: url(https://images.unsplash.com/photo-1554592977-9fcccf7b4e25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 2px var(--darkGunmetal);
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #12293280;
}

.app_name {
  height: fit-content;
  color: var(--mintCream);
  font-size: 1.5em;
  text-align: center;
}

/* Homepage */

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  background-color: var(--darkGunmetal);
}

.tag_text {
  text-align: center;
  color: var(--mintCream);
  font-weight: lighter;
}

.state_selection {
  width: 90%;
  color: var(--darkGunmetal);
  margin: 15px auto 15px auto;
}

.selected_state {
  text-align: center;
  font-size: 1.5em;
}

/* Homepage park cards */

.featured_parks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.park_card {
  display: block;
  height: 300px;
  width: 300px;
  margin-top: 10px;
  background: white;
  border: var(--darkGunmetal) solid 2px;
  box-shadow: 2px 2px 2px black;
}

.pc_designation {
  text-align: center;
  color: white;
  padding: 5px;
  background-color: var(--darkGunmetal);
}

.pc_name {
  text-align: center;
  padding: 10px;
}

.pc_description {
  text-align: left;
  padding: 5px;
}

/* Park Page */

.park_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  background-image: url(https://www.nps.gov/common/uploads/grid_builder/bicr/crop16_9/F0B07DE8-1DD8-B71B-0BDA21D497A3293B.jpg?width=950&quality=90&mode=crop);
  background-size: cover;
}

.park_name {
  color: var(--platinum);
  text-align: center;
  width: 100%;
}

/* User Interactions*/

.user_interactions {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5px auto 5px auto;
  text-align: right;
}

/* Page Details */

.park_details {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin: 10px 0px 10px 0px;
}

/* User Feedback */
.user_feedback {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.comment {
  border: 2px solid var(--darkGunmetal);
  margin: 10px 0 10px 0;
  box-shadow: 2px 2px 2px black;
}

.user {
  width: 100%;
  color: var(--platinum);
  padding: 10px;
  background-color: var(--darkGunmetal);
}

.comment_text {
  padding: 10px;
}

.comment_form {
  width: 100%;
}

/* FORMS */

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto 10px auto;
  padding: 15px;
}

input[type="text"],
input[type="password"],
input[type="url"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

.form_button {
  background-color: var(--darkGunmetal);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form_redirect {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* LOGIN FORM */

.login_register {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
