/* Colors */
:root {
  --darkGunmetal: #122932;
  --blackCoral: #576066;
  --queenBlue: #386fa4;
  --middleBlue: #80ced7;
  --mintCream: #f7fff7;
  --platinum: #e0e2e3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-height: 400px;
  margin-bottom: 50px;
  background-color: var(--platinum);
}

main {
  height: 100%;
  margin-bottom: 40px;
}

/* Navigation */

nav {
  position: fixed;
  width: 100%;
  padding: 0 5px 0 5px;
  background-color: var(--darkGunmetal);
}

.navigation_list {
  list-style-type: none;
}

.nav_logo {
  float: left;
}

.nav_li {
  float: right;
  font-size: 1em;
}

li a {
  display: block;
  padding: 8px;
  color: var(--mintCream);
  text-decoration: none;
}

/* Banner */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  background-image: url(https://images.unsplash.com/photo-1554592977-9fcccf7b4e25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.title_container {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #12293280;
}

.app_name {
  padding: 30px 0px 0px 0px;
  color: var(--mintCream);
  font-size: 1.5em;
  text-align: center;
}

/* Homepage */

.tag {
  height: 40px;
  padding: 5px;
  background-color: var(--darkGunmetal);
  color: var(--mintCream);
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.state_selection {
  width: 90%;
  color: var(--darkGunmetal);
  margin: 15px auto 15px auto;
}

.selected_state {
  text-align: center;
  font-size: 1.5em;
}

/* Homepage park cards */

.featured_parks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.park_card {
  display: block;
  height: 300px;
  width: 300px;
  background: white;
  border: var(--darkGunmetal) solid 2px;
  box-shadow: 2px 2px 2px black;
}

.pc_designation {
  text-align: center;
  color: white;
  padding: 5px;
  background-color: var(--darkGunmetal);
}

.pc_name {
  text-align: center;
  padding: 10px;
}

.pc_description {
  text-align: left;
  padding: 5px;
}

/* Park Page */

.idea_page_header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  min-height: 150px;
  margin-top: 25px;
}

.project_vote {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.idea_description {
  margin-bottom: 40px;
}

.app_name {
  text-align: center;
  width: 100%;
}

.section_title {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

.idea_description {
  width: 90%;
  height: 100%;
  margin: 10px auto 10px auto;
  padding: 10px;
}

.features_list {
  list-style-position: inside;
  padding: 0 0 25px 0;
}

.comment {
  border: 1px solid black;
  margin: 10px 0 10px 0;
}

.user {
  width: 100%;
  padding: 10px;
  background-color: grey;
}

.comment_vote {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  height: 25px;
  background-color: black;
  color: white;
}

.comment_text {
  padding: 10px;
}

/* FORMS */

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 50px auto 10px auto;
  padding: 15px;
}

input[type="text"],
input[type="password"],
input[type="url"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

.form_button {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form_redirect {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* LOGIN FORM */

.login_register {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 0.8em;
  padding: 10px;
}
